@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.categorias {
    margin-top: 30px;
    text-align: center;
}

.caja-categoria {
    display: inline-grid;
    gap: 5px;
    padding: 8px 18px;
    width: 550px;
    border-radius: 8px;
    background-color: white;
    margin-left: 25px;
    margin-bottom: 30px;
}


.caja-categoria img {
    width: 520px;
    height: auto;
}

.caja-categoria h3 {
    padding: 16px;
    font-family: "Paytone One", sans-serif;
    font-weight: 550;
    font-size: 28px;
    font-family: Tahoma;
    color: #ff6d6d;
}

button {
    width: 420px;
    margin-bottom: 50px;
    padding: 13px;
    background-color: rgb(200, 125, 125);
    border: 0;
    border-radius: 10px;
    font-size: 21px;
    font-family: "Yantramanav", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: background-color 0.2s ease;
}

button:hover {
    cursor: pointer;
    background-color: #ff7e7e;
    color: white;
}