@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri', Arial, sans-serif;
    background-color: #fedede;
    color: #333;
}

header {
    background-color: #ffffff;
    padding: 10px 0px;
    box-shadow: 0 2px 5px rgba(119, 119, 119, 0.309);
    z-index: 1000;
}

#caja-header {
    margin-top: 10px;
}

.logo {
    text-align: center;
}

.logo img {
    margin: 5px;
    width: 110px;
}

nav {
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 35px;
}

nav a {
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #e3769c;
    font-size: 18px;
    transition: border-bottom 0.2 ease;
}

nav a:hover {
    color: #ff00599f;
    text-decoration: none;
}
.especial {
    text-align: center;
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    margin: 50px;
}

.contenedor {
    padding: 20px;
    text-align: center;
    line-height: 40px;
    margin: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
}

.contenedor p {
    font-family: "Preahvihear", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor:hover {
    transform: translateY(-10px); /* Movimiento hacia arriba al hacer hover */
}
.novedades {
    display:inline-grid;
    margin-right: 65px;
}

.novedades>img {
    max-width: 280px;
    height: 300px;
    border-radius: 60px;
    box-shadow: 0 2px 5px rgba(119, 119, 119, 0.309);
}

.novedades>img:hover {
    transform: scale(1.15);
}

.novedades>h3 {
    font-size: 1.5em;
    font-weight: normal;
    color: #333;
}

.novedades button {
    background-color: #f06292;
    width: 70px;
    margin-bottom: 55px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
   
}

.novedades button:hover {
    background-color: #d81b60;
}

footer {
    margin-top: 120px;
    background-color: #f698ac;
    color: #ffffff;
    text-align: center;
    padding: 35px 0 40px;
    position: relative;
    font-size: 19px;
}

.redes-sociales {
    margin-bottom: 30px;
    font-family: "Mitr", sans-serif;
    font-weight: 200;
    font-style:normal;
    font-size: 25px;
}

.redes-sociales h4 {
    font-size: 1.45rem;
    margin-bottom: 15px;
}

.redes-sociales img {
    width: 37px;
    margin: 0 10px;
    vertical-align: middle;
}
